<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <br>
      <%= f.label :middle_name %>
      <%= f.text_field :middle_name, class: 'form-control' %>
      <br>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
<br>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

<br>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
<br>
      <%= f.label :password_confirmation, "Password Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <br>

          <%= f.label :address, "Address" %><br>
          <%= f.fields_for :address do |ff| %>
            <%= ff.number_field :street_number, placeholder: "Street Number" %>
            <%= ff.text_field :street_name, placeholder: "Street Name" %>
            <%= ff.text_field :apt_number, placeholder: "Apartment Number" %> <br>
            <%= ff.text_field :city, placeholder: "City" %>
            <%= ff.text_field :state, placeholder: "State/Province" %>
            <%= ff.text_field :zip, placeholder: "ZIP Code" %>
          <% end %>
          <br>
      <br>

<br>
      <%= f.label :SSN , "SSN"%>
      <%= f.text_field :ssn, class: 'form-control' %>

<br>


       <script type="text/javascript">
         function yesnoCheck(that) {
         if (that.value == "Employee") {
             document.getElementById("ifYes").style.display = "block";
         } else {
             document.getElementById("ifYes").style.display = "none";
         }
     }
       </script>

    <%= f.label :account_type %>
    <%= f.select(:account_type, ["Customer","Employee"],{}, {:multiple => false, :onchange => "yesnoCheck(this);"}) %>


<br>
<br>
<div id="ifYes" style="display: none;">
  <%= f.label :position , "Write your position"%>
  <%= f.text_field :position, class: 'form-control' %>
<br />
</div>
<br>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
