<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :price, "Price" %><br>
    <%= form.number_field :price, placeholder: "$", step: :any, :class => "text_field"  %>
    <br>
    <% if params[:hotel_id].present? %>
      <%= form.hidden_field :hotel_id, :value => params[:hotel_id] %>
    <% end %>
    <%= form.label :capacity, "Capacity" %><br>
    <%= form.number_field :capacity, min: '0', :class => "text_field"  %>
    <br>
    <%= form.label :extendible, "Extendible" %><br>
    <%= form.check_box :extendible%>
    <br>
    <%= form.label :view, "View" %>
    <%= form.select :view,  ["Sea View", "Mountain View"], prompt: "Choose view", class: "text_field"  %>
    <br><br>
    <%= form.label :amenity, "Amenities" %>
    <%= form.fields_for :amenity do |ff| %>
      <h6> Please separate items with a comma</h6>
      <%= text_area_tag 'amenities', nil,class: "text_field"  %>
    <% end %>
    <br>
    <%= form.label :damage, "Damages" %>
    <%= form.fields_for :damage do |ff| %>
      <h6> Please separate items with a comma</h6>
      <%= text_area_tag 'damages' ,nil, :class => "text_field" %>
    <% end %><br><br>
    <%= form.submit :class => "addButton" %>
  </div>
<% end %>
