<%= form_with(model: hotel, local: true) do |form| %>
  <% if hotel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
      <% hotel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.label :chain_id, "Chain" %>
    <%= form.select :chain_id,  options_from_collection_for_select(Chain.all, 'id', 'name'), prompt: "Select Chain" %>
    <br>

    <%= form.label :email_address, "Email Address" %>
    <br>
    <%= form.text_field :email_address, :class => "text_field"%>
    <br>

    <%= form.label :address, "Address" %> <br>
    <%= form.fields_for :address do |ff| %>
      <%= ff.number_field :street_number, placeholder: "Street Number", min: '0', :class => "text_field" %>
      <%= ff.text_field :street_name, placeholder: "Street Name", :class => "text_field" %>
      <%= ff.text_field :apt_number, placeholder: "Apartment Number", :class => "text_field" %> <br>
      <%= ff.text_field :city, placeholder: "City", :class => "text_field" %>
      <%= ff.text_field :state, placeholder: "State/Province", :class => "text_field" %>
      <%= ff.text_field :zip, placeholder: "ZIP Code", :class => "text_field" %>
    <% end %>
    <br>
    <br>
    <%= form.label :rating, "Hotel Rating" %>
    <%= form.select :rating,  [1,2,3,4,5], prompt: "Select Rating" %>
    <br><br>

    <%= form.label :phone_number, "Enter Phone numbers"%><br>
    <h6> Please separate phone numbers with a comma</h6>
    <%= text_area_tag 'phones', nil, class: "text_field" %>
    <br>

    <%= form.submit :class => "addButton" %>
  </div>
<% end %>
