<% if flash[:alert] %>
  <div id="alert"><%= flash[:alert] %></div>
<% end %>
<h1>Create a new hotel chain</h1>
<section>
  <div>
    <%= form_for @chain, url: {controller: "chain", action: "update"}, html: {multipart: true} do |f| %>
      <%= f.label :name, "Chain Name" %><br>
      <%= f.text_field :name , :class => "text_field" %>

    <br>
    <%= f.label :address, "Address" %><br>
    <%= f.fields_for :address do |ff| %>
      <%= ff.number_field :street_number, placeholder: "Street Number", min: '0', :class => "text_field"  %>
      <%= ff.text_field :street_name, placeholder: "Street Name" , :class => "text_field" %>
      <%= ff.text_field :apt_number, placeholder: "Apartment Number", :class => "text_field"  %> <br>
      <%= ff.text_field :city, placeholder: "City", :class => "text_field"  %>
      <%= ff.text_field :state, placeholder: "State/Province", :class => "text_field"  %>
      <%= ff.text_field :zip, placeholder: "ZIP Code", :class => "text_field"  %>
    <% end %>
    <br><br>
    <%= f.label :email, "Enter email addresses"%><br>
    <h6> Please separate emails with a comma</h6>
    <%= text_area_tag 'emails', nil, class: "text_field"  %>
    <br><br>
    <%= f.label :phone_number, "Enter Phone numbers"%><br>
    <h6> Please separate phone numbers with a comma</h6>
    <%= text_area_tag 'phones',nil, class:"text_field"  %>
    <br>
    <%= f.submit "Update Hotel Chain",  :class => "addButton"%>

    <% end %>

  </div>

</section>
