<html>
  <head>
    <title>Ehotel</title>
    <%= csrf_meta_tags %>

  </head>

  <body>
    <div class="options">
    <a href="/chain/new"><button class="newButton">New Hotel Chain</button></a>
    </div>
  <h1 id="title"><b>Hotel Chains</b></h1>

  <section class="container">
    <% @chains.each do |chain| %>
        <div class="row main">
          <div class="column">
              <a href="/chain/<%=chain.id%>", style="text-decoration:none;"><%= chain.name %></a>
              <br>
              <%= chain.address.get_full_address %>
          </div>

          <div class="column">
              <% chain.chain_emails.each do |email| %>
                <div class="row">
                    <%= email.email_address %>
                </div>
              <% end %>
          </div>

          <div class="column">
              <% chain.chain_phone_numbers.each do |phone| %>
                <div class="row">
                    <%= phone.phone_number %>
                </div>
              <% end %>
          </div>
          <div class="column">
            <div class="row">
            <%= link_to ' View', chain, class: 'fas fa-eye',style:"text-decoration:none; color: #00F" %>
            </div>
          </div>
        </div>

    <% end %>
  <section>

  </body>
</html>
